:root {
  --font-primary: "Poppins", sans-serif;
  --data-black-color: #000000;
  --data-white-color: #ffffff;
  --data-dark-turquoise-color: #06bfd3;
  --data-carbon-grey-color: #575c63;
  --data-mirage-color: #0e1624;
  --data-stoplight-go-green-color: #63e074;
  --data-cerulean-color: #00b3d0;
  --data-science-blue-color: #006fd0;
  --data-white-smoke-color: #f5f5f5;
  --data-mirage-black-color: #101826;
}

$device-sm: 576px;
$device-md: 768px;
$device-xlg: 991px;
$device-lg: 1024px;
$device-xl: 1280px;
$device-xxl: 1366px;
$device-xxxl: 1440px;
$device-xxxxl: 1680px;
